/* For splash screen */
.splash {
    /* Center */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* Disable clicking */
    pointer-events: none;
}

body {
    background-color: #DDE6E8
}